{% extends 'base.html.twig' %}
{% block title %}To live well with your favorite quotes
{% endblock %}
{% block body %}
    <div class="post">
        <div id="quote-content">
            {{ data.content|raw }}
        </div>
        <p class="author">
            <span id="quote-title-dash">—</span>
            <span id="quote-title">
                {{ data.title }}</span>
            {% if data.custom_meta is defined %}
                <span id="quote-source">Source:
                    {{ data.custom_meta.Source|raw }}
                </span>                   
                </p>
            {% endif %}
            <br>
            {% if app.user %}
            <p style="margin:0 auto;text-align:center"><a class="btn btn-success" href="{{path('home_saveQuote')}}">Save this quote</a></p>
        {% endif %}
        </div>
    {% endblock %}
