{% extends 'base.html.twig' %}
{% block title %}My best quotes{% endblock %}
{% block body %}
    <div class="post">
        <div id="quote-content">
            {{ data.content|raw }}
        </div>
        <p class="author">
            <span id="quote-title-dash">—</span>
            <span id="quote-title">
                {{ data.title }}</span>
            {% if data.custom_meta is defined %}
                <span id="quote-source">Source:
                    {{ data.custom_meta.Source|raw }}
                </span>
                <br>
                    <a href="#" id="twitter">Tweet</a>
                </p>
            {% endif %}
        </div>
    {% endblock %}
