<div id="quote-button-wrapper">
    <a href="#" id="get-another-quote-button">
        Get another random design quote
    </a>
</div>
<div id="footer">
    <div class="footer-left">
        Created by
        <a href="https://berjaoui.be" target="_blank">Noureddine Berjaoui</a>
    </div>
    <div class="footer-right">
        <a href="https://berjaoui.be">Portefolio</a>
        <a href="#submit/">Submit a Quote</a>
    </div>
</div>
<script src="" type="text/javascript"></script></div><div id="shadowMeasureIt"></div><div id="divCoordMeasureIt"></div><div id="divRectangleMeasureIt">
<div id="divRectangleBGMeasureIt"></div></div></body></html>